*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logo img {
    margin-right: 1em;}
#header{
    width: 100%;
    height: 130vh;
    color: #ffffff;
    background-image: url("images/bacground_image.png");
    background-size: cover;
    background-position: right
    
}
.container{
    width: 100%;
    
    padding: 10px 10%;
    
    
    justify-content: left;
    align-items: left;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
    
}

    

nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 18px;
    margin: 10px 20px;;    

}
nav ul li a{
   color: #ffffff;
    text-decoration: none;
    padding: 18px;
    position: relative;
    font-size: 18px;

}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ff004f;
    left: 0;
    bottom: 7px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}

.header-text {
    margin-top: 0em;
    margin-left: 9.7em;

}

.header-text p {
    font-size: 1em;
    margin: 0;
}
.header-text h1 span{
    color: #ff004f;
}